/* Webpages Stylesheet - R & Design 4.0 */
/** Imports **/
/* SASS Stylesheet - R & Design 4.0 */
/** Imports **/
/* Variables & Mixins Test - R & Design 4.0 */
/* Buttons Styling - R & Design 4.0 */
/** a
 *  .animated-button
 *      .thar-three
 *          color: #fff
 *          cursor: none
 *          display: block
 *          position: relative
 *          border: 2px solid #F7CA18
 *          transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)  */
a .animated-button .thar-three:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree;
}

a .animated-button .thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

a .animated-button .thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

/* Cursor Styling - R & Design 4.0 */
.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
}

.cursor {
  height: 0;
  width: 0;
  z-index: 99999;
}

.cursor2, .cursor3 {
  height: 24px;
  width: 24px;
  z-index: 99998;
}

.cursor2 {
  border: 12px solid #0094FF;
}

@media screen and (max-width: 1200px) {
  .cursor, .cursor2, .cursor3 {
    display: none;
    cursor: none;
  }
}
/* Navbar Styling - R & Design 4.0 */
/** Imports **/
/* Variables & Mixins Test - R & Design 4.0 */
nav {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  padding-left: min(8em, 6.8vw);
  padding-right: min(8em, 6.8vw);
  z-index: 20000;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.8);
  backdrop-filter: blur(20px) contrast(0.8) !important;
  -webkit-backdrop-filter: blur(20px) contrast(0.8) !important;
  font-family: "Inter", sans-serif;
  font-size: 17px;
}
nav .logo {
  display: block !important;
  color: #FFFFFF;
}
nav .logo h4 {
  font-weight: 600;
  padding: 0;
  margin: 0;
}
nav .logo h4 a {
  color: #FFFFFF;
  cursor: none;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
nav .logo h4 a:hover {
  color: #0094FF;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  z-index: 19999;
  padding: 0;
  margin: 0;
  width: 32%;
  list-style: none;
}
nav .nav-links li a {
  color: #FFFFFF;
  cursor: none;
  vertical-align: middle;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
nav .nav-links li a:hover {
  color: #0094FF;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
}
nav .nav-links li .page-active {
  background-color: #0094FF;
}
nav .burger {
  display: none;
  cursor: pointer;
}
nav .burger div {
  width: 24px;
  height: 2px;
  margin: 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
  transition: all 0.24s ease;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  nav {
    justify-content: space-around;
    min-height: 8vh;
  }
  .nav-links {
    width: 24%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav ul {
    background-color: rgba(26, 26, 26, 0.8);
    backdrop-filter: blur(20px) contrast(0.8) !important;
    -webkit-backdrop-filter: blur(20px) contrast(0.8) !important;
    z-index: 19999;
  }
  nav .nav-links {
    position: absolute;
    right: 0px;
    height: 52vh;
    top: 8vh;
    margin-top: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 56%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .burger {
    display: block;
    transition: all 0.24s ease;
  }
  nav .active-nav {
    margin-right: 20px;
    transform: translateX(0%);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(48px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle div.line-one {
  transform: rotate(-45deg) translate(-5px, 3.36px);
}

.toggle div.line-two {
  opacity: 0;
}

.toggle div.line-three {
  transform: rotate(45deg) translate(-5px, -3.36px);
}

/* Dynamic Wave Styling - R & Design 4.0 */
/** Imports **/
/* Variables & Mixins Test - R & Design 4.0 */
section#one {
  overflow: hidden;
}

.ocean {
  height: 8%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #1A1A1A;
}

.wave {
  filter: blur(20px);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: 198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 5.8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 5.8s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
/* Footer Styling - R & Design 4.0 */
/** Imports **/
/* Variables & Mixins Test - R & Design 4.0 */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
}
.footer-links {
  padding-left: 0;
}
.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
  }
  .social-icons li {
    margin-bottom: 4px;
  }
  .social-icons li.title {
    margin-right: 15px;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
  }
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    line-height: 44px;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    border-radius: 100%;
  }
}
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    margin-right: 0;
    font-weight: 600;
  }
}
/** Main Styling **/
* {
  text-decoration: none !important;
  outline: none;
}

html {
  overflow-x: hidden !important;
}

body {
  background-color: #1A1A1A !important;
  overflow-x: hidden !important;
  box-sizing: border-box;
  cursor: none !important;
}
body img {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
body button.primary {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  cursor: none;
  background-color: #0094FF;
  border: 0px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 8px;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
body button.primary button:focus {
  outline: 0;
}
body button.primary a {
  color: #FFFFFF;
  cursor: none;
}
body button.primary:hover {
  background-color: #5359EA;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
}
body .header-animation {
  background: linear-gradient(0.25turn, #99d262 0%, #3da0dc 20%, #8539de 40%, #c113c0 60%, #e56f64 80%, #99d262 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

section#one {
  height: 64vh;
  width: 100vw;
  transition: transform 0.45s ease-out;
  will-change: transform;
  margin-bottom: 86.4px;
}
section#one .container {
  padding-left: min(8em, 6.4vw);
  padding-right: min(8em, 6.4vw);
}
section#one h1#title-one {
  color: #FFFFFF;
  font-size: min(98px, 12vw);
  font-family: "Inter", sans-serif;
  font-weight: 700 !important;
  text-align: center;
  transition: transform 0.1s ease-out;
  will-change: transform;
  position: absolute;
  width: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 20;
}
section#one h1#title-one #landing-description {
  position: relative;
  top: 52%;
  color: #FFFFFF;
  font-size: min(20px, 3.8vw);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 0px;
}

section#two, section#three, section#four, section#five {
  width: 100vw;
  transition: transform 0.45s ease-out;
  will-change: transform;
}
section#two .container, section#three .container, section#four .container, section#five .container {
  padding-left: min(8em, 6.4vw);
  padding-right: min(8em, 6.4vw);
}
section#two #test img, section#three #test img, section#four #test img, section#five #test img {
  width: 100%;
  vertical-align: middle;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#two #test .title, section#three #test .title, section#four #test .title, section#five #test .title {
  color: #FFFFFF;
  font-size: min(48px, 8vw);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding-top: 32px;
}
section#two #test .large, section#three #test .large, section#four #test .large, section#five #test .large {
  color: #FFFFFF;
  font-size: min(24px, 4vw);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding-top: 0px;
}
section#two #test .regular, section#three #test .regular, section#four #test .regular, section#five #test .regular {
  color: #DEDEDE;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-top: 24px;
}
section#two #test .button-group, section#three #test .button-group, section#four #test .button-group, section#five #test .button-group {
  padding-top: 32px;
}
section#two #test .button-group button.secondary, section#three #test .button-group button.secondary, section#four #test .button-group button.secondary, section#five #test .button-group button.secondary {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  cursor: none;
  background-color: transparent;
  border: solid 2px #DEDEDE;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#two #test .button-group button.secondary a, section#three #test .button-group button.secondary a, section#four #test .button-group button.secondary a, section#five #test .button-group button.secondary a {
  cursor: none;
  color: #DEDEDE;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#two #test .button-group button.secondary a:hover, section#three #test .button-group button.secondary a:hover, section#four #test .button-group button.secondary a:hover, section#five #test .button-group button.secondary a:hover {
  cursor: none;
  color: #FFFFFF;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#two #test .button-group button.secondary:hover, section#three #test .button-group button.secondary:hover, section#four #test .button-group button.secondary:hover, section#five #test .button-group button.secondary:hover {
  color: #FFFFFF;
  border: solid 2px #6F7784;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
  margin-left: 12px;
}

section#two, section#four, section#five {
  margin-top: 144px;
}

section#three, section#portfolio {
  margin-bottom: 144px;
}

@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
  .modal {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(26, 26, 26, 0.92);
  }

  .warning {
    display: none;
  }
}
/** Main Styling **/
* {
  text-decoration: none !important;
  outline: none;
}

html {
  overflow-x: hidden !important;
}

body {
  background-color: #1A1A1A !important;
  overflow-x: hidden !important;
  box-sizing: border-box;
  cursor: none !important;
}
body .envelope {
  display: flex;
  justify-content: space-around;
  margin-top: 201.6px;
  padding-left: min(8em, 6.4vw);
  padding-right: min(8em, 6.4vw);
}
body .envelope .sidenav {
  width: 192px;
  top: 24%;
  background: rgba(26, 26, 26, 0);
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding: 12px;
}
body .envelope .sidenav a {
  color: #FFFFFF;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  cursor: none;
  display: block;
  padding: 8px;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
body .envelope .sidenav a .active-tab {
  color: #0094FF !important;
}
body .envelope .sidenav a:hover {
  color: #0094FF;
  padding-right: 32px;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
}

section#project-one {
  height: 100vh;
  width: 56vw;
}
section#project-one #test img {
  width: 100%;
  vertical-align: middle;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#project-one #test .title {
  color: #FFFFFF;
  font-size: min(48px, 8vw);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding-top: 32px;
}
section#project-one #test .large {
  color: #FFFFFF;
  font-size: min(24px, 4vw);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding-top: 0px;
}
section#project-one #test .regular {
  color: #DEDEDE;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-top: 24px;
}
section#project-one #test .button-group {
  padding-top: 32px;
}
section#project-one #test .button-group button.secondary {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  cursor: none;
  background-color: transparent;
  border: solid 2px #DEDEDE;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#project-one #test .button-group button.secondary a {
  cursor: none;
  color: #DEDEDE;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#project-one #test .button-group button.secondary a:hover {
  cursor: none;
  color: #FFFFFF;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#project-one #test .button-group button.secondary:hover {
  color: #FFFFFF;
  border: solid 2px #6F7784;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
  margin-left: 12px;
}

@media screen and (max-width: 1024px) {
  .envelope {
    display: block;
  }
  .envelope .sidenav {
    display: none;
  }
  .envelope section#project-one {
    width: 96vw;
  }
}
@media screen and (max-width: 768px) {
  section#project-one {
    width: 100%;
  }
}

/*# sourceMappingURL=pages.css.map */
