/* SASS Stylesheet - R & Design 4.0 */
/** Imports **/
/* Variables & Mixins Test - R & Design 4.0 */
/* Buttons Styling - R & Design 4.0 */
/** a
 *  .animated-button
 *      .thar-three
 *          color: #fff
 *          cursor: none
 *          display: block
 *          position: relative
 *          border: 2px solid #F7CA18
 *          transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)  */
a .animated-button .thar-three:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree;
}

a .animated-button .thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

a .animated-button .thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

/* Fonts - R & Design 5.0 */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("assets/font-final/GTWalsheimPro-Black.ttf") format("truetype");
  src-url: "assets/font-final/GTWalsheimPro-Black.woff2" format("woff2");
  src-url: "assets/font-final/GTWalsheimPro-Black.woff" format("woff");
  src-url: "assets/font-final/GTWalsheimPro-Black.eot" format("eot");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("assets/font-final/GTWalsheimPro-Bold.ttf") format("truetype");
  src-url: "assets/font-final/GTWalsheimPro-Bold.woff2" format("woff2");
  src-url: "assets/font-final/GTWalsheimPro-Bold.woff" format("woff");
  src-url: "assets/font-final/GTWalsheimPro-Bold.eot" format("eot");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("assets/font-final/GTWalsheimPro-Medium.ttf") format("truetype");
  src-url: "assets/font-final/GTWalsheimPro-Medium.woff2" format("woff2");
  src-url: "assets/font-final/GTWalsheimPro-Medium.woff" format("woff");
  src-url: "assets/font-final/GTWalsheimPro-Medium.eot" format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("assets/font-final/GTWalsheimPro-Regular.ttf") format("truetype");
  src-url: "assets/font-final/GTWalsheimPro-Regular.woff2" format("woff2");
  src-url: "assets/font-final/GTWalsheimPro-Regular.woff" format("woff");
  src-url: "assets/font-final/GTWalsheimPro-Regular.eot" format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("assets/font-final/GTWalsheimPro-Light.ttf") format("truetype");
  src-url: "assets/font-final/GTWalsheimPro-Light.woff2" format("woff2");
  src-url: "assets/font-final/GTWalsheimPro-Light.woff" format("woff");
  src-url: "assets/font-final/GTWalsheimPro-Light.eot" format("eot");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("assets/font-final/GTWalsheimPro-Thin.ttf") format("truetype");
  src-url: "assets/font-final/GTWalsheimPro-Thin.woff2" format("woff2");
  src-url: "assets/font-final/GTWalsheimPro-Thin.woff" format("woff");
  src-url: "assets/font-final/GTWalsheimPro-Thin.eot" format("eot");
  font-weight: 200;
  font-style: normal;
}
/* Navbar Styling - R & Design 4.0 */
/** Imports **/
/* Variables & Mixins Test - R & Design 4.0 */
nav {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding-left: min(6em, 6.8vw) !important;
  padding-right: min(6em, 6.8vw);
  z-index: 20000;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px) contrast(1) !important;
  -webkit-backdrop-filter: blur(20px) contrast(1) !important;
}
nav .logo {
  display: none !important;
  color: #FCFCFC;
}
nav .logo h4 {
  font-weight: 500;
  padding: 0;
  margin: 0;
}
nav .logo h4 a {
  font-family: "GT Walsheim Pro", sans-serif;
  color: #FCFCFC;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
nav .logo h4 a:hover {
  background: linear-gradient(0.4turn, #99d262 0%, #3da0dc 20%, #8539de 40%, #c113c0 60%, #e56f64 80%, #99d262 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1.2s linear infinite;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  z-index: 19999;
  padding: 0;
  margin: 0;
  width: 42%;
  list-style: none;
}
nav .nav-links li {
  margin: auto;
}
nav .nav-links li a {
  font-family: "GT Walsheim Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FCFCFC;
  padding: 8px 24px;
  vertical-align: middle;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
nav .nav-links li a:hover {
  color: #0094FF;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
}
nav .nav-links li .page-active {
  background-color: #0094FF;
}
nav .nav-links li #drop-down-menu button#dropdownMenuButton {
  font-family: "GT Walsheim Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FCFCFC;
  padding: 0;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
nav .nav-links li #drop-down-menu button#dropdownMenuButton:hover {
  color: #0094FF;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
}
nav .nav-links li #drop-down-menu .dropdown-menu {
  width: 184px;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px) contrast(0.8) !important;
  -webkit-backdrop-filter: blur(20px) contrast(0.8) !important;
  box-shadow: 0px 8px 96px rgba(0, 0, 0, 0.16);
}
nav .nav-links li #drop-down-menu .dropdown-menu a {
  padding-top: 8px;
  padding-bottom: 12px;
}
nav .nav-links li #drop-down-menu .dropdown-menu a:hover {
  background-color: transparent;
}
nav .burger {
  display: none;
  cursor: pointer;
}
nav .burger div {
  width: 24px;
  height: 2px;
  margin: 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #FCFCFC;
  transition: all 0.24s ease;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  nav {
    justify-content: space-around;
    height: 64px;
  }
  .nav-links {
    width: 52%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav .logo {
    display: block !important;
    color: #FCFCFC;
  }
  nav ul {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px) contrast(1) !important;
    -webkit-backdrop-filter: blur(20px) contrast(1) !important;
    z-index: 19999;
  }
  nav .nav-links {
    position: absolute;
    right: 0px;
    height: 52vh;
    top: 8vh;
    margin-top: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 56%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .burger {
    display: block;
    transition: all 0.24s ease;
  }
  nav .active-nav {
    margin-right: 20px;
    transform: translateX(0%);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(48px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle div.line-one {
  transform: rotate(-45deg) translate(-5px, 3.36px);
}

.toggle div.line-two {
  opacity: 0;
}

.toggle div.line-three {
  transform: rotate(45deg) translate(-5px, -3.36px);
}

/* Dynamic Wave Styling - R & Design 4.0 */
/** Imports **/
/* Variables & Mixins Test - R & Design 4.0 */
section#one {
  overflow: hidden;
}

.ocean {
  height: 8%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #151515;
}

.wave {
  filter: blur(20px);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: 198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 5.8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 5.8s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
/* Footer Styling - R & Design 4.0 */
/** Imports **/
/* Variables & Mixins Test - R & Design 4.0 */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
}
.footer-links {
  padding-left: 0;
}
.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
  }
  .social-icons li {
    margin-bottom: 4px;
  }
  .social-icons li.title {
    margin-right: 15px;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
  }
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    line-height: 44px;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    border-radius: 100%;
  }
}
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    margin-right: 0;
    font-weight: 600;
  }
}
/** Main Styling **/
* {
  text-decoration: none !important;
  outline: none;
}

html {
  overflow-x: hidden !important;
}

body {
  background-color: #FFFFFF !important;
  overflow-x: hidden !important;
  box-sizing: border-box;
}
body .spacer {
  height: 12px;
}
body img {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
body img #background {
  width: 100%;
  top: 0px;
  z-index: 1;
  background-attachment: fixed;
}
body button.primary {
  font-family: "GT Walsheim Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border: solid 2px #000000;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  height: 56px;
  width: 144px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 8px;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
body button.primary button:focus {
  outline: 0;
}
body button.primary a {
  color: #FFFFFF;
}
body button.primary:hover {
  color: #FFFFFF;
  background-color: #000000;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
}

section#one {
  height: 100vh;
  width: 100%;
  transition: transform 0.45s ease-out;
  will-change: transform;
  background-color: #000000;
  margin-bottom: 144px;
}
section#one .container {
  padding-left: min(8em, 6.4vw);
  padding-right: min(8em, 6.4vw);
}
section#one h1#title-one {
  color: #FFFFFF;
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 700 !important;
  line-height: 1.04;
  text-align: center;
  transition: transform 0.1s ease-out;
  will-change: transform;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 20;
}
section#one #myVideo {
  z-index: 1;
  position: relative;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
}
section#one #landing-description {
  z-index: 99999;
  position: absolute;
  color: #FFFFFF;
  font-size: min(24px, 5vw);
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  /** h4
  *  font-size: $large
  *  color: $orange-light
  *  margin-top: 38% **/
}
section#one #landing-description img {
  height: 32%;
  margin-top: 32%;
  margin-bottom: 0;
}
section#one #landing-description h1 {
  font-size: min(106px, 12vw);
  margin-top: 72px;
}
section#one #landing-description p {
  font-weight: 400;
  font-size: min(20px, 3.8vw);
}

section#two, section#three, section#four, section#five {
  width: 100vw;
  transition: transform 0.45s ease-out;
  will-change: transform;
}
section#two .container, section#three .container, section#four .container, section#five .container {
  padding-left: min(8em, 6.4vw);
  padding-right: min(8em, 6.4vw);
  /** #cs1
  *  background: -webkit-linear-gradient(1turn,#3C9D82 0%, #BCE26F 42%)
  *  -webkit-background-clip: text
  *  -webkit-text-fill-color: transparent **/
}
section#two img, section#three img, section#four img, section#five img {
  width: 100%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  vertical-align: middle;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#two .title, section#three .title, section#four .title, section#five .title {
  color: #151515;
  font-size: min(48px, 8vw);
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 700;
  padding-top: 32px;
}
section#two .title svg, section#three .title svg, section#four .title svg, section#five .title svg {
  display: inline-flex;
  align-self: center;
  padding-bottom: 10px;
  height: 1em;
  width: 1em;
}
section#two .large, section#three .large, section#four .large, section#five .large {
  color: #151515;
  font-size: min(24px, 5vw);
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 500;
  padding-top: 0px;
}
section#two .large-thin, section#three .large-thin, section#four .large-thin, section#five .large-thin {
  color: #151515;
  font-size: 22px;
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 300;
  padding-top: 0px;
}
section#two .regular, section#three .regular, section#four .regular, section#five .regular {
  color: #151515;
  font-size: 19px;
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 300;
  padding-top: 24px;
}
section#two .button-group, section#three .button-group, section#four .button-group, section#five .button-group {
  padding-top: 32px;
}
section#two .button-group button.secondary, section#three .button-group button.secondary, section#four .button-group button.secondary, section#five .button-group button.secondary {
  font-family: "GT Walsheim Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  border: solid 2px #575757;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
  /** a:hover
  *  //cursor: none
  *  color: $black
  *  transition: 0.18s cubic-bezier(.77,0,.64,1) **/
}
section#two .button-group button.secondary a, section#three .button-group button.secondary a, section#four .button-group button.secondary a, section#five .button-group button.secondary a {
  color: #575757;
  transition: 0.18s cubic-bezier(0.77, 0, 0.64, 1);
}
section#two .button-group button.secondary:hover, section#three .button-group button.secondary:hover, section#four .button-group button.secondary:hover, section#five .button-group button.secondary:hover {
  border: solid 2px #dedede;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  transition: 0.18s cubic-bezier(0.3, 0.01, 0.25, 1);
  margin-left: 12px;
}

section#two, section#four, section#five {
  margin-top: 144px;
}

section#three, section#portfolio {
  margin-bottom: 144px;
}

section#portion-end .container {
  text-align: center;
  margin-bottom: 60px;
  opacity: 42%;
}

@media screen and (max-width: 1024px) {
  section#one {
    height: 100vh;
  }
  section#one #landing-description img {
    margin-top: 28%;
  }
  section#one #landing-description h1 {
    font-size: min(106px, 12vw);
    margin-top: 72px;
  }
  section#one #landing-description p {
    font-size: min(20px, 3.8vw);
    margin-top: -12px;
  }

  section#two .title svg, section#three .title svg, section#four .title svg, section#five .title svg {
    display: inline-flex;
    align-self: center;
    padding-bottom: 4px;
  }
}
@media screen and (max-width: 767px) {
  section#one {
    height: 100vh;
  }
  section#one #landing-description img {
    margin-top: 42%;
  }
  section#one #landing-description h1 {
    font-size: min(106px, 12vw);
    margin-top: 72px;
  }
  section#one #landing-description p {
    font-size: min(20px, 3.8vw);
    margin-top: -12px;
  }
}
@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
  .modal {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(26, 26, 26, 0.92);
  }

  .warning {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
